In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns

In [2]:
buyer = pd.read_csv("/content/BuyerRatio.csv")

In [3]:
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
buyer.mean()

<ipython-input-4-8f483157617f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  buyer.mean()

East     242.5
West     832.5
North    743.5
South    410.0
dtype: float64

In [30]:
import scipy.stats as stats
stats.f_oneway(buyer.iloc[:, 1], buyer.iloc[:,2], buyer.iloc[:,3], buyer.iloc[:, 4])

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

In [27]:
males = pd.Series([50, 142, 131, 70])

In [15]:
females = pd.Series([435, 1523, 1356, 750])

In [32]:
stats.f_oneway(males, females)

F_onewayResult(statistic=12.841384359570121, pvalue=0.011594334372357063)

In [17]:
males.mean()

98.25

In [18]:
females.mean()

1016.0

In [4]:
pvalue = 0.8204060154887464
if pvalue < 0.05:
  print("H0 is rejected as the males and females buyer ratio is not similar across the region")
else:
  print("H0 is accepted as the males and females buyer ratio is similar across the region")

H0 is accepted as the males and females buyer ratio is similar across the region