In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns

In [2]:
cust = pd.read_csv("/content/Costomer+OrderForm.csv")

In [3]:
cust

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [7]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [8]:
cust.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
pd.DataFrame(cust.Phillippines.value_counts())

            Phillippines
Error Free           271
Defective             29

In [26]:
pd.DataFrame(cust.Indonesia.value_counts())

            Indonesia
Error Free        267
Defective          33

In [27]:
pd.DataFrame(cust.Malta.value_counts())

            Malta
Error Free    269
Defective      31

In [28]:
pd.DataFrame(cust.India.value_counts())

            India
Error Free    280
Defective      20

In [11]:
print(cust['Phillippines'].value_counts())
print(cust['Indonesia'].value_counts())
print(cust['Malta'].value_counts())
print(cust['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
error_free = pd.Series([271, 267, 269, 280])

In [15]:
defective = pd.Series([29, 33, 31, 20])

In [16]:
import scipy.stats as stats
stats.f_oneway(error_free, defective)

F_onewayResult(statistic=3602.567088607595, pvalue=1.437376025121072e-09)

In [25]:
pvalue = 1.437376025121072e-09
if pvalue > 0.05:
  print("H0 is rejected as the defective percentage for 4 centres is not equal")
else:
  print("H0 is accepted as the defective percentage for the 4 centres is equal")

H0 is accepted as the defective percentage for the 4 centres is equal